.table {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  background-color: rgb(186, 38, 224);
  padding: 10px;
  border-radius: 5px;
}

.table-row {
  display: flex;
  flex-direction: row;
}

.table-cell {
  flex: 1;
  padding: 8px;
  border-right: 1px solid #000;
}

.header {
  font-weight: bold;
}

.table-cell:last-child {
  border-right: none;
}